.header
{
  &__logo
  {
    width: 5rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  &__desc
  {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3rem;
    right: 3rem;
    img
    {
      height: 2.5rem;
      padding-right: 0.5rem;
    }
    span
    {
      width: 10rem;
      display: inline-block;
    }
  }
}
