.header
{
  &__logo
  {
    width: 5rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    @include respond-to('small')
    {
        top: 1rem;
        left: 1rem;
    }
  }

  &__desc
  {
    display: flex;
    align-items: center;
    position: absolute;
    top: 3rem;
    right: 3rem;
    @include respond-to('small')
    {
        top: 1rem;
        right: 1rem;
    }
    img
    {
      height: 2.5rem;
      padding-right: 0.5rem;
    }
    span
    {
      width: 8rem;
      display: inline-block;
    }
  }
}
