// BEGIN: feedback-section
+b.SECTION.feedback-section
  +e.IMG.girl(src="images/illustration-girl.svg", alt="")
  +e.IMG.illistration(src="images/illistration.svg", alt="")

  +e.wrapper
    h4 Заполни поля и наш менеджер свяжется с тобой для уточнения данных
    include ../elements/feedback-form
// END: feedback-section
