// BEGIN: feedback-form
+b.FORM.feedback-form
  input(type="text", name="name", placeholder="Ваше имя")
  input(type="text", name="phone", placeholder="Телефон")
  input(type="email", name="email", placeholder="E-mail")
  textarea(name="phone", placeholder="Телефон")
  +b.BUTTON.btn_red Отправить
// END: feedback-form
