//BEGIN: steps
+b.steps
  +e.item
    +e.wrapper
      +e.number 1
      +e.content
        p Заполни поля в форме
        +e.block
  +e.item
    +e.wrapper
      +e.number 2
      +e.content
        p Получи смету на почту
        +e.block
  +e.item
    +e.wrapper
      +e.number 3
      +e.content
        p Потом сделай то...
        +e.block
  +e.item
    +e.wrapper
      +e.number 4
      +e.content
        p Потом это...
        +e.block
  +e.item
    +e.wrapper
      +e.number 5
      +e.content
        p И можешь идти гулять.
        +e.block
//END: steps
